swagger: "2.0"
info:
  title: "Konnect API"
  version: "0.0.1"
schemes:
  - https
produces:
  - application/json
paths:
  /konnect/v1/users/signup:
    post:
      tags:
        - Sign Up
      summary: Create user account and request OTP
      parameters:
        - name: Content-Type
          in: header
          description: Content Type
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        200:
          description: Success
        400:
          description: Bad request error
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
  /konnect/v1/users/login:
    post:
      tags:
        - Login
      summary: Login (Enter OTP)
      parameters:
        - name: Content-Type
          in: header
          description: Content Type
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/LoginRequest"
      responses:
        200:
          description: Success with Access Token
          schema:
            $ref: "#/definitions/LoginResponse"
        400:
          description: Bad request error
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
  /konnect/v1/users/otp:
    post:
      tags:
        - Login
      summary: Request an OTP (Login)
      parameters:
        - name: Content-Type
          in: header
          description: Content Type
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/GenerateOTPRequest"
      responses:
        200:
          description: Success
        400:
          description: Bad request error
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
  /konnect/v1/users/token:
    get:
      tags:
        - Login
      summary: Refresh Access Token (to be polled every 5 mins)
      parameters:
        - name: Content-Type
          in: header
          description: Content Type
          required: true
          type: string
        - name: Authorization
          in: header
          description: Access Token
          required: true
          type: string
      responses:
        200:
          description: Success with Access Token
          schema:
            $ref: "#/definitions/LoginResponse"
        400:
          description: Bad request error
          schema:
            $ref: "#/definitions/Error"
        500:
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"

definitions:
  Error:
    type: object
    required:
      - error
    properties:
      error:
        type: string
  User:
    title: User
    type: object
    required:
      - mobile
      - location
      - language
    properties:
      mobile:
        type: string
      language:
        type: string
      location:
        $ref: "#/definitions/Location"
      first_name:
        type: string
      last_name:
        type: string
      profession_id:
        type: integer
      company_id:
        type: integer
  Location:
    title: Location
    type: object
    required:
      - lat
      - lon
      - name
    properties:
      lat:
        type: string
      lon:
        type: string
      name:
        type: string
  LoginRequest:
    type: object
    required:
      - mobile
      - otp
    properties:
      mobile:
        type: string
      otp:
        type: string
  LoginResponse:
    type: object
    properties:
      access_token:
        type: string
      error:
        type: string
  GenerateOTPRequest:
    type: object
    required:
      - mobile
    properties:
      mobile:
        type: string
